$white: #fff;
$black: #000;

$gray-10: #f3f4f7;
$gray-20: #eaecf1;
$gray-30: #dde0e8;
$gray-40: #c8ceda;
$gray-50: #9da7bd;
$gray-60: #4a566f;
$gray-70: #2d3544;
$gray-80: #1f242f;
$gray-90: #161a21;
$gray-100: #101318;
