$white: #fff;
$black: #000;

$gray-10: #f3f4f7;
$gray-20: #eaecf1;
$gray-30: #dde0e8;
$gray-40: #c8ced9;
$gray-50: #9fa8bb;
$gray-60: #505868;
$gray-70: #32363f;
$gray-80: #23252b;
$gray-90: #191b1f;
$gray-100: #121416;
