@import 'variables';
@import 'themes';

body {
  color: var(--body-color);
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  background-color: var(--body-background-color);

  a {
    color: currentColor;
    text-decoration: underline;
    transition: color var(--transition-duration-medium);
  }

  strong {
    font-weight: var(--font-weight-bold);
  }
}
