:root {
  --line-height-small: 1.125;
  --line-height-normal: 1.25;
  --line-height-medium: 1.375;
  --line-height-large: 1.5;

  --font-size-small: 0.75rem;
  --font-size-normal: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.25rem;

  --font-weight-normal: 400;
  --font-weight-bold: 700;
}
