.header {
  display: flex;
  align-items: center;

  &__link {
    margin: 0.125rem 0 0 var(--spacing-x-small);
    color: var(--body-color-soft);

    a:hover {
      color: var(--body-color);
    }
  }
}
