.colorForm {
  user-select: none;
  border-left: 0.0625rem solid var(--layout-body-border-color);

  &__field {
    position: relative;
    display: flex;
    height: 4rem;
    cursor: text;
    align-items: center;
    padding: 0 var(--spacing-x-large);

    &:first-child {
      border-top-right-radius: var(--border-radius-large);
    }

    &:not(:last-child) {
      border-bottom: 0.0625rem solid var(--input-border-color);
    }

    &--focus {
      background-color: var(--input-focus-background-color);
    }
  }

  &__label {
    flex-basis: 15%;
    color: var(--body-color-soft);
  }

  &__input {
    flex-basis: 85%;
  }

  &__copyButton {
    position: absolute;
    display: none;
    top: 50%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    right: var(--spacing-large);
    color: var(--body-color-soft);
    padding: var(--spacing-x-small);
    transition: transform var(--transition-duration-fast);
    animation: scaleCopyButton var(--transition-duration-fast);
    transform: translateY(-50%);

    @keyframes scaleCopyButton {
      0% {
        transform: translateY(-50%) scale(0.75);
      }
    }

    &:active {
      transition: none;
      transform: translateY(-50%) scale(1.25);
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &__field:hover &__copyButton {
    display: flex;
  }
}
